@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-900 text-gray-50;
    --webkit-font-smoothing: antialiased;
  }
  .custom-container {
    @apply max-w-screen-lg mx-auto px-4 lg:px-0;
  }
}

@layer utilities {
  .hide-scroll {
    -ms-overflow-style: auto; /* for Internet Explorer, Edge */
    scrollbar-width: 2px; /* for Firefox */
    overflow-y: auto;
  }
  .hide-scroll::-webkit-scrollbar {
    display: auto; /* for Chrome, Safari, and Opera */
    @apply w-1;
  }
  .hide-scroll::-webkit-scrollbar-track {
    @apply bg-black/70;
  }
  .hide-scroll::-webkit-scrollbar-thumb {
    @apply bg-red-800;
  }
}
